<div class="container-fluid container-fluid-custom">
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Our Features</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
            </div>
            <h2>User-Friendly Note Editor</h2>
            <p>Create, edit, and format notes easily with a rich text editor.</p>
            <a href="auth/google" class="icon-link">
              Sign up now
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
            </div>
            <h2>Tag-Based Organization</h2>
            <p>Assign multiple tags to notes for flexible categorization and easy searching.</p>
            <a href="auth/google" class="icon-link">
                Sign up now
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <h2> Search & Quick Access</h2>
            <p>Advanced search functionality to find notes instantly.</p>
            <a href="auth/google" class="icon-link">
                Sign up now
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
</div>